# Virtual environment
venv/
ENV/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
*.env

# Database files
*.db
*.sqlite3

# Logs
*.log

# Exe build
build/
dist/
*.spec